[{sasl,[{errlog_type,error}]},
 {score_api,
     [{'Elixir.ScoreApi.Repo',
          [{adapter,'Elixir.Ecto.Adapters.MySQL'},
           {database,<<"oknet">>},
           {username,<<"ok_master_user">>},
           {password,<<"OKpass987">>},
           {hostname,
               <<"oktalk.cmavudufltgr.ap-southeast-1.rds.amazonaws.com">>}]},
      {refresh_scores,[{scores_refresh_timer,1800000}]}]}].
