[{sasl,[{errlog_type,error}]},
 {score_api,
     [{'Elixir.ScoreApi.Repo',
          [{adapter,'Elixir.Ecto.Adapters.MySQL'},
           {database,<<"vokal_staging">>},
           {username,<<"oktalk_test">>},
           {password,<<"oktalk_test">>},
           {hostname,<<"test.cmavudufltgr.ap-southeast-1.rds.amazonaws.com">>},
           {pool_size,50},
           {max_overflow,50}]},
      {refresh_scores,[{scores_refresh_timer,1800000}]}]}].
